<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Main Page</title>
</head>

<body>
    <!--Main container with parallax background effect-->
    <div class="parallax">
        <!--main section for user role selection-->
        <div class="main">
            <h2>Choose your role: </h2>
            <div class="choice-container">
                <!--link for organisers-->
                <a class="choice-link" href="/organiser">
                    <div class="choice-card">
                        <img src="/assets/Organiser.png" alt="Men in suit">
                        <h3>I am an organiser</h3>
                    </div>
                </a>
                <!--link for attendees-->
                <a class="choice-link" href="/attendee">
                    <div class="choice-card">
                        <img src="/assets/Attendee.png" alt="Women in workout gear">
                        <h3>I am an attendee</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <script src="/js/main.js"></script>

</body>

</html>