<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Main Page</title>
</head>

<body>
    <!--Main container with parallax background effect-->
    <div class="parallax">
        <!--Introduction line above title-->
        <div class="quick-intro">
            <h3>A new yoga studio</h3>
            <h3>Event management website</h3>
        </div>
        <!--Description section containing three parts: left,center, right-->
        <div class="description">
            <!--Left vertical slider with images-->
            <section class="left-section">
                <div class="slider slider-vertical" style="--quantity:20">
                    <div class="item" style="--position: 1">
                        <img src="/assets/lily.png" alt="'lily flower">
                    </div>
                    <div class="item" style="--position: 2">
                        <img src="/assets/yoga1.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 3">
                        <img src="/assets/yoga2.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 4">
                        <img src="/assets/speaker.png" alt="speaker">
                    </div>
                    <div class="item" style="--position: 5">
                        <img src="/assets/yoga3.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 6">
                        <img src="/assets/yoga4.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 7">
                        <img src="/assets/title.png" alt="event title">
                    </div>
                    <div class="item" style="--position: 8">
                        <img src="/assets/yoga5.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 9">
                        <img src="/assets/waterbottle.png" alt="waterbottle">
                    </div>
                    <div class="item" style="--position: 10">
                        <img src="/assets/stones.png" alt="'stacked stones">
                    </div>
                    <div class="item" style="--position: 11">
                        <img src="/assets/title.png" alt="event title">
                    </div>
                    <div class="item" style="--position: 12">
                        <img src="/assets/lily.png" alt="'lily flower">
                    </div>
                    <div class="item" style="--position: 13">
                        <img src="/assets/yoga1.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 14">
                        <img src="/assets/yoga2.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 15">
                        <img src="/assets/waterbottle.png" alt="waterbottle">
                    </div>
                    <div class="item" style="--position: 16">
                        <img src="/assets/stones.png" alt="'stacked stones">
                    </div>
                    <div class="item" style="--position: 17">
                        <img src="/assets/lily.png" alt="'lily flower">
                    </div>
                    <div class="item" style="--position: 18">
                        <img src="/assets/yoga1.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 19">
                        <img src="/assets/yoga2.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 20">
                        <img src="/assets/speaker.png" alt="speaker">
                    </div>
                </div>
            </section>
            <!--Center section with main heading site description -->
            <section class="center-section">
                <h1>
                    <%= site.site_name %>
                </h1>
            </section>
            <!--Right vertical slider-->
            <section class="right-section">
                <div class="slider slider-vertical mirrored" style="--quantity:20">
                    <div class="item" style="--position: 1">
                        <img src="/assets/lily.png" alt="'lily flower">
                    </div>
                    <div class="item" style="--position: 2">
                        <img src="/assets/yoga1.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 3">
                        <img src="/assets/yoga2.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 4">
                        <img src="/assets/speaker.png" alt="speaker">
                    </div>
                    <div class="item" style="--position: 5">
                        <img src="/assets/yoga3.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 6">
                        <img src="/assets/yoga4.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 7">
                        <img src="/assets/title.png" alt="event title">
                    </div>
                    <div class="item" style="--position: 8">
                        <img src="/assets/yoga5.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 9">
                        <img src="/assets/waterbottle.png" alt="waterbottle">
                    </div>
                    <div class="item" style="--position: 10">
                        <img src="/assets/stones.png" alt="'stacked stones">
                    </div>
                    <div class="item" style="--position: 11">
                        <img src="/assets/title.png" alt="event title">
                    </div>
                    <div class="item" style="--position: 12">
                        <img src="/assets/lily.png" alt="'lily flower">
                    </div>
                    <div class="item" style="--position: 13">
                        <img src="/assets/yoga1.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 14">
                        <img src="/assets/yoga2.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 15">
                        <img src="/assets/waterbottle.png" alt="waterbottle">
                    </div>
                    <div class="item" style="--position: 16">
                        <img src="/assets/stones.png" alt="'stacked stones">
                    </div>
                    <div class="item" style="--position: 17">
                        <img src="/assets/lily.png" alt="'lily flower">
                    </div>
                    <div class="item" style="--position: 18">
                        <img src="/assets/yoga1.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 19">
                        <img src="/assets/yoga2.png" alt="'yoga pose">
                    </div>
                    <div class="item" style="--position: 20">
                        <img src="/assets/speaker.png" alt="speaker">
                    </div>
                </div>
            </section>

        </div>
    </div>
    <!--bottom section with user role selection-->
    <div class="main-bottom">
        <h2>Who are you?</h2>
        <div class="choice-container">
            <!--link for organisers-->
            <a class="choice-link" href="/organiser">
                <div class="choice-card">
                    <img src="/assets/Organiser.png" alt="Men in suit">
                    <h3>I am an organiser</h3>
                </div>
            </a>
            <!--link for attendees-->
            <a class="choice-link" href="/attendee">
                <div class="choice-card">
                    <img src="/assets/Attendee.png" alt="Women in workout gear">
                    <h3>I am an attendee</h3>
                </div>
            </a>
        </div>
    </div>


    <script src="/js/main.js"></script>

</body>

</html>