<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/settings.css">
    <title>Site Settings Page</title>
</head>

<body>
    <div class="container">
        <main class="main-content">
            <header class="topbar">
                <h1>Site Settings Page</h1>
                <a href="/organiser">
                    <button class="return-organiser-home-btn">
                        Return Organiser Home
                    </button>
                </a>
                <section class="avatar">
                    <img src="/assets/Organiser.png" alt="Men in suit">
                </section>
            </header>

            <section class="settings-content">
                <div class="settings-img">
                    <img src="/assets/settings.png" alt="Setting icon">
                </div>
                <div class="settings-panel">
                    <form action="/organiser/settings" method="POST">
                        <label for="site_name">Site name: </label>
                        <input type="text" id="site_name" name="site_name" value="<%= site.site_name%>" required>
                        <br>

                        <label for="site_description">Site Description: </label>
                        <textarea id="site_description" name="site_description" required rows="4"><%= site.site_description %>
                        </textarea>

                        <br>
                        <button type="submit" class="submit">Save Changes</button>
                    </form>
                </div>
            </section>
        </main>

    </div>
</body>

</html>