<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/settings.css">
    <title>Site Settings Page</title>
</head>

<body>
<div class="container">
    <main class="main-content">
        <header class="topbar">
        </header>
        <section class="settings-content">
            <div class="settings-img"></div>
            <div class="settings-panel">
                
            </div>
        </section>
    </main>

</div>
    <h1>This is the site settings (organiser) page</h1>
</body>

</html>