/*color variables*/
:root {
    --dark-grey: #90908F;
    --light-grey: #F2F2F2;
    --white: #FFFFFF;
    --black: #020202;
    --light-blue: #F5F6FF;
    --sand: #EEE5DC;
}

/* global reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: var(--light-grey);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


h3 {
    font-weight: 600;
    color: var(--dark-grey);
}

/* parallax container */
.parallax {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}

/* choice section */
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    z-index: 2;
}

.main h2 {
    margin: 1rem 2rem;
    position: relative;
    top: -7%;
    padding: 5px;
    font-size: 3.4rem;
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    margin: 2rem auto;
}

/* Individual choice cards styling */
.choice-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
    width: 100%;
    transition: transform 0.3s ease;
    background-color: white;
    perspective: 1000px;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.2s ease-out;
    cursor: pointer;
    margin-right: 1rem;
}

/* Hover effect on choice card */
.choice-card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
    background-color: var(--light-blue);
}

.choice-card img {
    width: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.choice-link {
    text-decoration: none;
    color: var(--black);
}


@media (max-width: 768px) {


    .parallax {
        overflow-x: clip;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main h2 {
        font-size: 3rem;
    }

    .choice-container {
        gap: 3rem;
        margin-right: 3rem;
    }
}